@font-face { font-family:"krona One";
    src: url("https://fonts.google.com/specimen/Krona+One?query=kro");

}

body{margin: 10px; padding: 5px ;}

h1 {text-align: center; font-family: 'Krona One', sans-serif; font-size: 5em; }

span{color:lightgreen ;font-family: 'Krona One', sans-serif; font-size: 1em; }

h2{text-align: center; font-family: 'Krona One', sans-serif; font-size: 5em; }


/* Style only the images inside my product gallery */
.my__products__gallery{ height: auto; object-fit: cover; width: 30%; max-width: 30%; padding: 50px;}


/* Style the images inside my product gallery only on hover*/
.my__products__gallery { position: absolute; display: flex; flex-direction: column; justify-content: center; max-width: 10%; width: 10%;}
/* Style my product gallery */


/* Style my products */
.my__products{ display:flex; align-self: center; padding: 10px; transform: translate(5px,5px); }

/* Style the image inside image container */
.image__container{display:flex; align-self: center; margin: 1px; padding: 5px; transition: 1s; }

/* Style the images inside my image container only on hover*/
#img__box{display:flex ; float: right; width: 900px; object-fit: cover; align-self: flex-end; border-radius: 2%;}

/* Style image container */
.image__container{margin-left: 2em; padding-left: 20em; }
