@font-face { font-family:"krona One";
    src: url("https://fonts.google.com/specimen/Krona+One?query=kro");

}

body{margin: 10px; padding: 5px ;}

h1 {text-align: center; font-family: 'Krona One', sans-serif; font-size: 10em; }

span{color:lightgreen ;font-family: 'Krona One', sans-serif; font-size: 10em; }

h2{text-align: center; font-family: 'Krona One', sans-serif; font-size: 10em; }


/* Style only the images inside my product gallery */
.my__products__gallery{ height: auto; object-fit: cover; width: 30%; max-width: 30%;}


/* Style the images inside my product gallery only on hover*/
.my__products__gallery { position: absolute; object-fit: cover; max-width: 10%; width: 10%;}
/* Style my product gallery */


/* Style my products */
.my__products{text-align: center; margin: 5px; padding: 10px display:flex}

/* Style the image inside image container */
.image__container{text-align: center;margin: 5px; padding: 10px }

/* Style the images inside my image container only on hover*/
#img__box{display:inline ; float: right; width: 900px; object-fit: cover;}

/* Style image container */
.image__container{margin: 5px; padding: 100px }
